/* Welcome page css file Version: 0.1.4 */
body {
  	background-image: url("images/roadBackground.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

/* style for application title */
.mainHeader {
     color: blue;
     font-weight: bold;
     text-align: center;
     font-size: 100px;
     padding-top: 50px;
}
/* ... */

/* style for application moto */
.appMoto {
     color: yellow;
     font-weight: bold;
     text-align: center;
     font-size: 25px;
}
/* ... */

/* style for buttons  */
#actionButtons {
     position: inline;
     text-align: center;
     padding-top:10px;
}
/* ... */

/**/
