/* Register page css file Version: 0.2.1 */
body {
  	background-image: url("images/garage.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
}

/* ready to commit 22.12.2020 */
label, input {
    display: inline-block;
    vertical-align: baseline;
    width: 125px;
    margin-left: auto;
    margin-right: auto;
 }

form, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

label {
    color: #2D2D2D;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
}

form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#registerForm {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
/* ... */
/* ready to commit 22.12.2020 */
#registerForm label {
color: yellow;
}
/**/
/* ready to commit 22.12.2020 */
#registerForm button {
color: blue;
}
/**/